/* Global Styles */
body {
  margin: 0;
  font-family: 'Poppins', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; /* Clean White */
  color: #333333; /* Dark Charcoal */
}

:root {
  --primary-color: #FF9933; /* Muted Saffron */
  --secondary-color: #138808; /* Gentle Green */
  --text-dark: #2c3e50;
  --text-light: #ffffff;
  --bg-light: #ffffff;
  --border-color: #e0e0e0;
}